#=–-    OS    -–=#
*~
._*
.DS_Store
.localized
.Spotlight-V100
Icon
Desktop.ini
Thumbs.db

#=–-   VCS    -–=#
.CVS
.hg
.hgignore
.git
.svn

#=–- Packages -–=#
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#=–-   Dev    -–=#
*.esproj
*.sublime-*
.codekit-cache
.sass-cache
.tmproj
config.codekit
node_modules

#=–- Project  -–=#
build
